<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK"/>

    <application
        android:allowBackup="true"
        android:label="KR Equalizer Pro"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <service
            android:name=".EqService"
            android:exported="false"
            android:foregroundServiceType="mediaPlayback" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:icon="@android:drawable/ic_media_play"
            android:banner="@android:drawable/ic_media_play"
            android:logo="@android:drawable/ic_media_play">
            <intent-filter>
                <action android:name="android.media.action.DISPLAY_AUDIO_EFFECT_CONTROL_PANEL" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
</manifest>
